
table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(41, 41, 41);
}


th, td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
color: white;
}

th {
background-color: rgb(41, 41, 41);
}

tr:nth-child(even) {
background-color: #f2f2f2;
}

tr:hover {
background-color: rgb(73, 73, 73);
}

input[type="text"], input[type="number"] {
width: 100%;
padding: 8px;
margin: 4px 0;
box-sizing: border-box;
}

button {
background-color: rgb(41, 41, 41);
margin: 4px;
padding: 10px 20px;
border-radius: 20px;
border-width: 2px;
border-color: white;
color: white;
}
button:hover {
background-color: rgb(105, 105, 105);
}
div.center {
text-align: center;
background-color: rgb(41, 41, 41);
}
  