<div class="center">
  <button (click)="agregarLugar()">Agregar</button>
</div>



<table>
  <thead>
    <tr>
      <th>Nombre Lugar</th>
      <th>Ubicación</th>
      <th>Trabajo</th>
      <th>Contacto Persona</th>
      <th>Horas</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lugar of lugares; let i = index">
      <td>
        <span *ngIf="indiceEdicion !== i">{{ lugar.nombre_lugar }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="lugares[i].nombre_lugar">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ lugar.ubicacion }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="lugares[i].ubicacion">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ lugar.trabajo }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="lugares[i].trabajo">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ lugar.contacto }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="lugares[i].contacto">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ lugar.horas_trabajadas }}</span>
        <input *ngIf="indiceEdicion === i" type="number" [(ngModel)]="lugares[i].horas_trabajadas">
      </td>
      <td>
        <button *ngIf="indiceEdicion !== i" (click)="editarLugar(i)">Editar</button>
        <button *ngIf="indiceEdicion === i" (click)="guardarEdicion()">Guardar</button>
        <button (click)="eliminarLugar(i)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
