<div class="center">
  <button (click)="agregarEstudiante()">Agregar</button>
</div>


  
<table>
  <thead>
    <tr>
      <th>Nombre Completo</th>
      <th>Id_estudiante</th>
      <th>Correo</th>
      <th>Celular</th>
      <th>Lugar de Residencia</th>
      <th>Carrera</th>
      <th>Año de Estudio</th>
      <th>Grupo Actual</th>
      <th>Horas</th>
      <th>Empresa</th>
      <th>Observación</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estudiante of estudiantes; let i = index">
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.nombre_completo }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].nombre_completo">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.id }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].id">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.correo }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].correo">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.telefono }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].telefono">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.lugar_residencia }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].lugar_residencia">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.carrera }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].carrera">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.ano_estudio }}</span>
        <input *ngIf="indiceEdicion === i" type="number" [(ngModel)]="estudiantes[i].ano_estudio">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.grupo_estudiante }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].grupo_estudiante">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.horas_trabajadas }}</span>
        <input *ngIf="indiceEdicion === i" type="number" [(ngModel)]="estudiantes[i].horas_trabajadas">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.empresa }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].empresa">
      </td>
      <td>
        <span *ngIf="indiceEdicion !== i">{{ estudiante.observacion }}</span>
        <input *ngIf="indiceEdicion === i" type="text" [(ngModel)]="estudiantes[i].observacion">
      </td>
      <td>
        <button *ngIf="indiceEdicion !== i" (click)="editarEstudiante(i)">Editar</button>
        <button *ngIf="indiceEdicion === i" (click)="guardarEdicion()">Guardar</button>
        <button (click)="eliminarEstudiante(i)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
